
#details{
  position: relative;
  top: 170px;
  left: 370px;
  width: 500px;
  
}
 #title2{
    position: relative;
    bottom: 20px;
    left: 5px;
    font-size: 25px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; Font-family:  "Zoho_Puvi_Bold";  */
    letter-spacing: 4px;
    color:#4072a7 ;

    
}
#title3{
  position: relative;
  bottom: -60px;
  left: 150px;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif; Font-family:  "Zoho_Puvi_Bold"; 
  letter-spacing: 4px;
 
  font-weight: 500;
  color:#4072a7 ;

  
}
#mini1{
  position: absolute;
  top: 100px;
  right: 10px;
  max-height: 100px;
  overflow-x:auto;
 
  
  
}
#datas{
 font-size:1.0rem;
 line-height: 35px;
letter-spacing: 1px;
position: relative;
bottom: 50px;
;

}
   
   
#usecase-edit{
  position: relative;
  left: 5px;
  top: 0px;
  height: 1.8rem;
  border:1px groove ;
  border-color:transparent;
  color: rgb(46, 45, 45);
  border-radius: 5px;
  margin: -0.625rem auto;
  position: relative;
  transition: all 250ms;
  font-family: sans-serif;
  color: rgb(46, 45, 45);
 
}
#usecase-edit {
  position: relative;
  cursor: pointer;
}

#usecase-edit:hover::after {
  content: "Edit";
  position: absolute;
  top: 135%;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; 
}
#edit-cancel{
  position: relative;
  left: 0px;
  top:0px;
  border-color:transparent;
  background-color: white;
  color: rgb(46, 45, 45);
  position: relative;
  transition: all 250ms;
  font-family: sans-serif;
  color: rgb(27, 26, 26);
}
#edit-cancel{
  position: relative;
  cursor: pointer;
}

#edit-cancel:hover::after {
  content: "cancel";
  position: absolute;
  top: 155%;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; 
  z-index: 999;
}
#edit-input{
  border: none;
 letter-spacing: 1px;
 width: 115px;
 font-size: 13px;
 color: grey;


}
#edit-input:focus{
  border: none;
               /* Set the border color when the input is focused */
}
#edit-submit{
  position: relative;
  left:0px;
  top: 0px;
  height: 1.8rem;
  border:1px groove ;
  width: 65px;
  border-color:transparent;
  color: rgb(46, 45, 45);
  border-radius: 5px;
  margin: -0.625rem auto;
  font-size: 12px;
  position: relative;
  transition: all 250ms;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 207, 61);
}
/* for back button */
#back-btn{
 
  top: 20px;
  left: 1250px;
  width: 70px;
  height: 30px;
  text-align: center;
  bottom: 10px;
 
}
#admin-back-btn{
  top: 20px;
  left: 1250px;
  width: 70px;
  height: 30px;
  text-align: center;
  bottom: 10px;
}
th{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;

}
#taskdetails{
  position: relative;
  font-size: larger;
  color: green; 
}
#usecase-table{
  width:85%;
  border-collapse: collapse;
  position: relative;
  top: 130px;
  left: 165px;
  text-align: center;
  
}
.task {
  position: relative;
  cursor: pointer;
}

.task:hover::after {
  content: "View Task";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}
.task1 {
  position: relative;
  cursor: pointer;
}

.task1:hover::after {
  content: "Add Task";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}
/* UsecaseReadEdit.css */

#edit-submit.disabled-btn {
  background-color: rgb(194, 185, 185);
  color: white;
  cursor: not-allowed;
}

#edit-submit.enabled-btn {
  background-color: rgb(32, 207, 61);
  color: white;
  cursor: pointer;
}
.disabled-input {
  background-color: lightgrey;
  cursor: not-allowed;
  pointer-events: none;
}

.enabled-input {
  background-color: white;
  cursor: text;
  pointer-events: auto;
}
#add-project{
  margin-bottom: 30px;
}
.toggle-bar {
  position: fixed;
  top: 55px;
  right: -420px; /* initially off-screen */
  height: 100%;
  width: 420px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease; /* animate the right property */
}

.toggle-bar.open {
  right: 0; /* slide in from the right when open */
}

.toggle-bar-content {
  padding: 30px;
}

#your-info1{
  position: relative;
  top: 100px;
  left: 165px;
  color: rgb(21, 170, 41);
}